# Day 8th

# List in python

creating a list

In [5]:
mylist = ["apple" , "banana" , "papaya"]
print(mylist)
print(type(mylist))

['apple', 'banana', 'papaya']
<class 'list'>

# Allow Duplicates

In [10]:
# duplicate bhi allow rhata hai
mylist = ["banana" , "papaya" , "banana" , " mango" , "apple"]
print(mylist)
print(type(mylist))

['banana', 'papaya', 'banana', ' mango', 'apple']
<class 'list'>

# List item - Data types

In [15]:
list1 = ["apple" , "banana" , "papaya"]
list2 = [1 , 2 , 3 , 4 , 5 , 67 , 7]
list3 = [23.4 , 5.6 , 78.8 , 789.0]
list4 =[True,False,True]
print(list1)
print(type(list1))
print(list2)
print(type(list2))
print(list3)
print(type(list3))
print(list4)
print(type(list4))

['apple', 'banana', 'papaya']
<class 'list'>
[1, 2, 3, 4, 5, 67, 7]
<class 'list'>
[23.4, 5.6, 78.8, 789.0]
<class 'list'>
[True, False, True]
<class 'list'>

sabhi type of data type ak hi list mai

In [19]:
my_list = ["apple" , 67.7 , 678 , True , "vivek" , 99.0]
print(my_list)

['apple', 67.7, 678, True, 'vivek', 99.0]

# List Length

In [22]:
my_list = ["apple" , 67.7 , 678 , True , "vivek" , 99.0]
print(len(my_list))

6

In [24]:
b = [23, 45, 67, 89, 65, 45, 34, 66, 6]
print(len(b))

9

# Access items

In [27]:
my_list = ["apple" , 876 , 765, 98, "vivek" , "rastogi" , 98.7 , True]
print(my_list[4])

vivek

In [31]:
my_list = ["apple" , 876 , 765, 98, "vivek" , "rastogi" , 98.7 , True]
print(my_list[-5])

98

# Slicing of list

In [34]:
my_list = ["vivek" , "rastogi" , "is" , "a" , "good" , "boy" ]
print(my_list[0:4])

['vivek', 'rastogi', 'is', 'a']

In [38]:
my_list = [123, 234, 345, 567, 567, 678, 7898, 89, 90, 0, 453, 564, 5674, 231, 6543, 321]
print(my_list[0:])

[123, 234, 345, 567, 567, 678, 7898, 89, 90, 0, 453, 564, 5674, 231, 6543, 321]

In [40]:
my_list = [123, 234, 345, 567, 567, 678, 7898, 89, 90, 0, 453, 564, 5674, 231, 6543, 321]
print(my_list[4:-9])

[567, 678, 7898]

In [42]:
my_list = [123, 234, 345, 567, 567, 678, 7898, 89, 90, 0, 453, 564, 5674, 231, 6543, 321]
print(my_list[5:])

[678, 7898, 89, 90, 0, 453, 564, 5674, 231, 6543, 321]

In [52]:
my_list = [123, 234, 345, 567, 567, 678, 7898, 89, 90, 0, 453, 564, 5674, 231, 6543, 321]
print(my_list[0:5])

[123, 234, 345, 567, 567]

# JUMP KARNA KA LIYA

In [54]:
my_list = [123, 234, 345, 567, 567, 678, 7898, 89, 90, 0, 453, 564, 5674, 231, 6543, 321]
print(my_list[0:11:3])

[123, 567, 7898, 0]

In [60]:
my_list = [123, 234, 345, 567, 567, 678, 7898, 89, 90, 0, 453, 564, 5674, 231, 6543, 321]
print(my_list[0:16:2]) # agar huma ak number ka jump chiya tho 2 dana hoga

[123, 345, 567, 7898, 90, 453, 5674, 6543]

# Changing list item

In [63]:
my_list = ["vivek" , "is" , "a" ,"good" , "boy"]
my_list[4] = "intelligent"
print(my_list)

['vivek', 'is', 'a', 'good', 'intelligent']

In [65]:
my_list = [123, 234, 345, 567, 567, 678, 7898, 89, 90, 0, 453, 564, 5674, 231, 6543, 321]
my_list[5] = "vaibhav"
print(my_list)

[123, 234, 345, 567, 567, 'vaibhav', 7898, 89, 90, 0, 453, 564, 5674, 231, 6543, 321]

# Changing a range of value

In [68]:
my_list = [123, 234, 345, 567, 567, 678, 7898, 89, 90, 0, 453, 564, 5674, 231, 6543, 321]
my_list[3:7] = ["vivek" , "rastogi" , "viney"]
print(my_list)

[123, 234, 345, 'vivek', 'rastogi', 'viney', 89, 90, 0, 453, 564, 5674, 231, 6543, 321]

# Add list item

# Append item

In [79]:
this_list = ["apple" , "vivek" ,"khata" , "hai"]
this_list.append("orange")
print(this_list)

['apple', 'vivek', 'khata', 'hai', 'orange']

In [81]:
this_list = ["apple" , "vivek" ,"khata" , "hai"]
this_list.append(98.76)
print(this_list)

['apple', 'vivek', 'khata', 'hai', 98.76]

In [83]:
this_list = ["apple" , "vivek" ,"khata" , "hai"]
this_list.append("orange" , "apple")
print(this_list) # asa kar ka do ko ak sath add nahi kar sakta hai

TypeError: list.append() takes exactly one argument (2 given)

 # Remove function

In [88]:
this_list = ["apple" , "vivek" ,"khata" , "hai"]
this_list.remove("vivek")
print(this_list)

['apple', 'khata', 'hai']

# Join list

In [91]:
list1 = ["apple" , "banana" , "papaya"]
list2 = [1 , 2 , 3 , 4 , 5 , 67 , 7]
list3 = [23.4 , 5.6 , 78.8 , 789.0]
list4 =[True,False,True]
list5 = list1 + list2 + list3 + list4 
print(list5)

['apple', 'banana', 'papaya', 1, 2, 3, 4, 5, 67, 7, 23.4, 5.6, 78.8, 789.0, True, False, True]

# check if a list contain an element

In [96]:
li = [23 , 56 , 678 , 890 , 89.0 , "apple" , "vivek" , True]
'vivek' in li

True

In [98]:
li = [23 , 56 , 678 , 890 , 89.0 , "apple" , "vivek" , True]
'rastogi' in li

False

# reverse a list

In [102]:
li = [23 , 56 , 678 , 890 , 89.0 , "apple" , "vivek" , True]
li.reverse()
print(li)

[True, 'vivek', 'apple', 89.0, 890, 678, 56, 23]

# python program to interchange first and lkast element in a list

In [117]:
a = [ 1, 2, 53, 54, 75, 96, 97, 8,3 ,9, 103, 113, 142, 133, 134, 15, 165]
print(a)
print(len(a))
b = a[0]
a[0] = a[16]
a[16] = b
print("now the new list is" , a)

[1, 2, 53, 54, 75, 96, 97, 8, 3, 9, 103, 113, 142, 133, 134, 15, 165]
17
now the new list is [165, 2, 53, 54, 75, 96, 97, 8, 3, 9, 103, 113, 142, 133, 134, 15, 1]

In [121]:
# upar wala code ko hum asa bhi likh sakta hai
a = [ 1, 2, 53, 54, 75, 96, 97, 8,3 ,9, 103, 113, 142, 133, 134, 15, 165]
print(a)
print(len(a))
a[0] = a[16]
a[16] = a[0]
print("now the new list is" , a)

[1, 2, 53, 54, 75, 96, 97, 8, 3, 9, 103, 113, 142, 133, 134, 15, 165]
17
now the new list is [165, 2, 53, 54, 75, 96, 97, 8, 3, 9, 103, 113, 142, 133, 134, 15, 165]

In [123]:
# find the largest number in a list

In [125]:
# find the sum all the element isn the list
l = [ 14, 34, -56, 76, 87, -56, 43, 23, 45, 67, 89, -32, 45, 65]
print(len(l))
a = 0
for i in range(14):
    a = a + l[i]
    i = i+1
print("sum of the list:" , a)

14
sum of the list: 444

In [129]:
# python program to multiply all number in list
l = [ 14, 34, 56, 76, 87, 56, 43, 23, 45, 67, 89, 32, 45, 65]
n = 1
for i in range(14):
    n = n*l[i]
    i = i+1
print(n)

245168864197558898688000

In [131]:
# python program to multiply all number in list
l = [ 14, -4, 6, -7, 7, -5, 43, 3, 45, 7, 9, 32, 5, 5]
n = 1
for i in range(14):
    n = n*l[i]
    i = i+1
print(n)

-24084527040000