# Day 7

# string in python

# Creating string in python

In [5]:
a = "hello vivek"
print(a)

hello vivek

In [9]:
b = "We atr learning python this is our 7th day in python class"
print(b)
print(type(b))

We atr learning python this is our 7th day in python class
<class 'str'>

# Multiline string

In [16]:
b = "No matter what your specific interests are in the data analytics world, you'll probably need a bachelor's degree to get started in the field. While many people begin a data analytics career with a degree in mathematics, statistics or economics, data analytics degrees are becoming more common and can help set you apart in this field, according to McKenzie."
print(b) # ab hum is code mai dhak raha hai ak line mai hi hai pura pura fur dusri line ma ara hai agar hum isa line by lile likhna chaya tho [ TRIPLE QUOTES] mai likhta hai jasa nest code mai lukha hia

No matter what your specific interests are in the data analytics world, you'll probably need a bachelor's degree to get started in the field. While many people begin a data analytics career with a degree in mathematics, statistics or economics, data analytics degrees are becoming more common and can help set you apart in this field, according to McKenzie.

In [23]:
b = """No matter what your specific interests are in the data analytics world,
you'll probably need a bachelor's degree to get started in the field. 
While many people begin a data analytics career with a degree in mathematics, 
statistics or economics, data analytics degrees are becoming more common 
and can help set you apart in this field, according to McKenzie."""
print(b) # dhakha asa kar sakta hai alag alag line ka liya
print(type(b))

No matter what your specific interests are in the data analytics world,
you'll probably need a bachelor's degree to get started in the field.
While many people begin a data analytics career with a degree in mathematics,
statistics or economics, data analytics degrees are becoming more common
and can help set you apart in this field, according to McKenzie.
<class 'str'>

# INDEXING IN PYTHON

In [39]:
a = " hello vivek" # beech mai jo space hai wo bhi indexing mai gina jata hai
print(a[7])

v

In [47]:
s = "How's your study going on"
print(s[2])

w

In [49]:
c = "hello vivek"
print(c[-7])

o

# Slicing of string

In [54]:
d = "hello students how are you"
print(d[0:8])

hello st

In [72]:
a = "hello students how are you"
print(a[1:-9])

ello students ho

In [74]:
s = "hello student hoe are you"
print(s[0:20:2]) # isma 2 -2 ka gap a rha hai bssch bssch mai mens 0 sai 20 ka 2 - 2 alpabet ko chor kar print kar rha hai

hlosuethea

In [76]:
s = "how's your class going on"
print(s[::2])

hwsyu ls on n

# Reverse an string

In [83]:
a = "whats your name ?"
print(a[::-1])

? eman ruoy stahw

In [85]:
# finding the length of string
a = " my name is vivek rastogi. i am from siyana"
print(len(a))

43

# check string

In [104]:
a = "New Delhi is the capital of india"
print("capital" in a)

True

In [106]:
a = "new delhi is the capital of india"
print("country" in a)

False

In [108]:
a = "new delhi is the capital pof india"
if "capital" in a:
    print("yes , capital is present")

yes , capital is present

# check if not

In [111]:
a = "new delhi is the capital of india"
print("bombay" not in a)

True

In [113]:
a = "new delhi is the capital of india"
print("delhi" not in a)

False

# Python modifying string

# UPPER METHOD

The upper() method return the string in upeer case

In [118]:
a = "what are you dowing vivek"
print(a.upper())

WHAT ARE YOU DOWING VIVEK

# LOWER MWTHOD

The lower() method return the string in lower case

In [122]:
a = "HELLO VIVIEK WHERE ARE YOU FROM"
print(a.lower())

hello viviek where are you from

In [124]:
a = "HeLLo VIVek rAStoGI"
print(a.lower())

hello vivek rastogi

# REPLACE STRING

The replace() method replace thr string with another string.

In [130]:
a = "how is you"
print(a.replace("is" , "are"))

how are you

In [132]:
a = "hello vivek gastogi"
print(a.replace("g" , "r"))

hello vivek rastori

In [136]:
b = "python programming is amazing"
print(b.replace("amazing" , "super easy"))

python programming is super easy

# STRING CONCATINATION

In [141]:
a = "Vivek" 
b = "Rastogi"
c = a + " " + b
print(c)

Vivek Rastogi

# python string index() method

In [150]:
v = " my self vivek rastogi"
print(v.index("o")) # isa hum ak thara sa or likh sakta hai nicha wala code mai dhalkho

19

In [152]:
v = "my name is vivek rastogi"
x = v.index("o")
print(x)

21

write a python program to insert a string between two string, find the length of string

In [161]:
a = "Delhi is the capital of india"
b = "THIS IS VERY BEAUTYFUL CITY"
c = a + " and " + b.lower()
print(c)
print(len(c))

Delhi is the capital of india and this is very beautyful city
61

# FIND method()

In [168]:
a = "vivek is a good boy"
b = a.find("g")
print(len(a))
print(b)

19
11