# day 1 - this is first day of python class

we are going to write our first program

In [12]:
#print kana ka liya kuch bhi 
print("hello word")

hello word

In [14]:
#ab hum kh sakta hai this is IDE (meanse isma wite bhi, read bhi and debug bhi)
print("ram is a good boy, he is a gental man")

ram is a good boy, he is a gental man

In [18]:
#debug ka liya example
##isma abb hum dhak raha hai (syntax error a rha hai isa hi debud khata hai)
print("ram is a good boy)

SyntaxError: unterminated string literal (detected at line 3) (2619025504.py, line 3)

In [59]:
#edit ka liya (means isa sahi kara error ko), " ya laga ka sahi ho jaye ga
print("ram is a good boy")
# run ho gya sahi kar ka

ram is a good boy

In [61]:
#kuch number add karna ka liya
print(2+3)

5

@ Python commants

# COMMENT : hum ya is liya likhta hai kyoki jab koi program karta hai tho wo bhoot jana milkar karta hai tho dusra logo ko samjana ka liya comment likhta hai

In [65]:
#this is comment
print("hello word")

hello word

 #Agar hama koi bhi comment likhni ho tho aga # or ("""  """) laga do , or uska aga apna sentence likh do

In [68]:
print("hello word") #this is comment

hello word

Multiline cooment

In [71]:
#this is comment 1 
#this is comment 2 
#this is comment 3

print(2 + 3)

5

In [73]:
""" this is first class of python """  #is thara sa bhi da sakta hai comment
print(2+3)

5

# Day 2

# variable & operater

In [7]:
a = 1
print(a)

1

In [9]:
b = 2
c = 2.3
print(b,c)

2 2.3

In [11]:
x = "apple"
print("x") # abb isma hum dhak raha hai isma x he print ho gya kyoki x ko humna duble inverted quma mai likh diya hai

x

In [15]:
x =  "apple"
print(x) # abb isma hum dhak raha hai isma x print nahi hua isma apple hi print hua kyoki hamna [print("x")] asa nahi lilkh atha

apple

# word name ka variable

In [19]:
student = 23
print(student)

23

In [23]:
1@& = 23
print(1@&) # hum asa syntax nahi likh sakta hai kyoki number sa hamara variable start nahi hota hai isi waja sa error a rha hai

SyntaxError: invalid syntax (1022618771.py, line 1)

# alpha numaric

In [28]:
student123 = 34
print(student123) # alpha numaric tarika saa bhi likh sakta hai

34

In [34]:
_a = vivek
print(_a) # yha error is liya aye hai kyoki humna sting ko double inverted quma mai nahi likha

NameError: name 'vivek' is not defined

In [38]:
_a = "vivek"
print(_a) # yha pr run ho gya quoki yha pr humna double inverted quma laga diya hai

vivek

# case sensitive

In [41]:
_a = 23
print(_A) # yha pr error is liya aya hai quoki small a or capital A dono mai anta hai

NameError: name '_A' is not defined

In [43]:
_1_vivek = 23
print(_1_vivek)

23

# many values to multipal variables

In [46]:
x,y,z = "orange" , "banana" , "cherry"
print(x,y,z)

orange banana cherry

In [50]:
# agar hum alag alag variable mai ak hi valu dana chay tho ya karta hai 
x= y= z= "orange"
print(x)
print(y)
print(z)

orange
orange
orange

# python output variables

In [55]:
#same line mai or alag alag line mai print karna ka liya
x = "python"
y = "is"
z = "amazing"
print(x,y,z)

print()

print(x)
print(y)
print(z)

python is amazing

python
is
amazing

# data type

In [64]:
x = 2
print(x)
print(type(x)) # ya wali line likhta hai kisi ka bhi type pata karna ho tho

2
<class 'int'>

In [85]:
# complex number ka liya
y = 2.3
print(type(y))

<class 'float'>

In [87]:
# comple number ka liya
z = 2 + 3j
print(z)
print(type(z))

(2+3j)
<class 'complex'>

In [89]:
# string data ko store karna ka liya 
a = "this is 2nd day of python class"
print(a)
print(type(a))

this is 2nd day of python class
<class 'str'>

# Ak variable mai multipal valu kasa da ( iska liya python ka kuch khass data type use hota hai ) code mai dikha gya hai
# example = list , tuple , set , dict

In [93]:
# list 
b = [ 1, 2 , 3, 4, 5, 6, 7, 8, 9, 10]
print(b)
print(type(b))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>

In [101]:
# list mai hum number , sting , decimal ak sath la sakta hai 
b = [ 12,2.3, "vivek", 54]
print(b)
print(type(b))

[12, 2.3, 'vivek', 54]
<class 'list'>

In [103]:
# tuple ka liya bss () ya laga do is ki jaga []
c = ( 1, 2, 3, 4, 5 )
print(c)
print(type(c))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [109]:
# isma bhi ak hi variable mai kisi bhi thara ki value ak sat store kar sakta hai 
c = ( 1, 2, 3.4, " vivek")
print(c)
print(type(c))

(1, 2, 3.4, ' vivek')
<class 'tuple'>

# Agar mai ya dhakna chata hu ki mana abhi tak kitna variable use kiya hai unma kya kya store kiya tho uska liya hum likha ga kuch asa(%whos)

In [115]:
# kitna variable use kiya hai abhi tak 
%whos

Variable               Type        Data/Info
--------------------------------------------
a                      str         this is 2nd day of python class
b                      list        n=4
c                      tuple       n=4
dataframe_columns      function    <function dataframe_colum<...>ns at 0x0000021C162DB560>
dataframe_hash         function    <function dataframe_hash at 0x0000021C162DB380>
dtypes_str             function    <function dtypes_str at 0x0000021C1529F560>
get_dataframes         function    <function get_dataframes at 0x0000021C162DB060>
getpass                module      <module 'getpass' from 'C<...>conda3\\Lib\\getpass.py'>
hashlib                module      <module 'hashlib' from 'C<...>conda3\\Lib\\hashlib.py'>
import_pandas_safely   function    <function import_pandas_s<...>ly at 0x0000021C162DBCE0>
is_data_frame          function    <function is_data_frame at 0x0000021C162DB240>
json                   module      <module 'json' from 'C:\\<...>\Lib\\json\\__init__.py'>
student                int         23
student123             int         34
x                      float       2.3
y                      float       2.3
z                      complex     (2+3j)

# Operaters in python

In [120]:
# Arithmetic operaters
a = 5
b = 6
print(a + b)

11

In [122]:
# on decimal number arithmetic operater
a = 3.4
b = 5
print(a + b)

8.4

In [124]:
# complex number pr arith,matic operation
a = 3 + 3j
b = 3
print(a + b)

(6+3j)

In [130]:
# agar huma do string ko add karna hai tho yha pr (+) operater CONCATINATION  ki thara kam kara ga means dono word chipka hua aye ga jasa output dhik rha hai
a = "hello"
b = "vivek"
print( a + b )

hellovivek

In [132]:
# agar hum in dono ka beech ,mai gap dana charta hai tho ( a + " " + b) likha ga space a jaye ga jasa code mai dhik rha hai
a = "hello"
b = "vivek"
print(a + " " + b)

hello vivek

# subtaction

In [135]:
a = 23
b = 12
print(a - b)

11

In [137]:
# decimal value
a = 23.5
b = 12.5
print(a - b)

11.0

In [139]:
#complex numer
a = 23 + 5j
b = 21
print(a - b)

(2+5j)

# NOTE - String ko subtarct nahi kar sakta hai

# Multiplication

In [143]:
a = 15 
b = 12
print(a*b)

180

In [145]:
# Floating point
a = 23.45
b = 12.4
print(a*b)

290.78

In [149]:
#complex number 
a = 3+4j
b = 3
print(a*b)

(9+12j)

# DIVISION

In [154]:
a = 10
b = 5
print(a/b)

2.0

# MODULOUS

In [157]:
# Iska matlab hota hai reminder data hai ya
a = 19
b = 3
print(a%b)

1

In [159]:
a = 12
b = 4
print(a%b)

0

# EXPONENT

In [162]:
# Power nikalna ka liya 
a = 971949
print(a**55)

209117919733368776502679528199896931747036833682663321986537197640987901903972197275750929775299648168118223153237533885728722195653640777495678135483110471816739416910621608285948459473203920263116423330951843077101151209575250602325620995233562462720493407331858148060137210044117095859153621677487248237143639386262041491119749

In [164]:
# agar hama bhoot bari equation da rahi ho tho usa bhi hum kuch second mia kar sakta hai
a = ((876*56)+(34.56/23)+(453**87)+(3245467-123453))
print(a)

1.2037701645091998e+231

# logial operater

In [179]:
a = True
b = False
print(a and b)
print(b and a)
print(a and a)
print(b and b)
print(a or b)
print(b or a)
print(a or a)
print(b or b)
print(not(a))
print(not(b))

False
False
True
False
True
True
True
False
False
True

In [183]:
# example ( overview)
a = ((8922*2852)+(7821*222)+(25566*256)+(8281/87))
print(a)

33726797.183908045

# FUNCTION IN PYTHON

# Day 3rd

#built in functions in python

# 1 - abs()function

In [12]:
#abs() iska matlab hota hai absolute function, ya spacified value ko dhikhata hai EX - hmara pass -7.24 hai thpo ya function laga kar ha,ma iski absolute value mil jaye gi 
x = abs(-43.65) # minus(-) sign ko hata daga ya abs() function
print(x)

43.65

In [16]:
y = abs(-34)
print(y)

34

In [18]:
z = abs(34 + 5j)
print(z)

34.36568055487916

# bin()function

In [25]:
# hum koi bhi number daga ya binary number mai conver kar dta hai ( 32,16,8, 4, 2, 1) 
x = bin(345)
print(x)

0b101011001

In [29]:
# float number ka binary number nahi nikla ga
x = bin(23.45)  
print(x)

TypeError: 'float' object cannot be interpreted as an integer

# python bytes function

In [32]:
x = bytes(4)
print(x)

b'\x00\x00\x00\x00'

In [36]:
# isma bhi dacimal value k nahi nikala ga 
x = bytes(16.16)
print(x)

TypeError: cannot convert 'float' object to bytes

# python chr() function

# NOTE - JAB BHI HUM PYTHON MAI FUNCTION IIKHTA HAI TH SABSA PHALA FUNCTION KA NAME FIR () YA EXAMPLE- BIN(), PRINT() ETC . YHA PR PRINT FUNCTION HAI

In [43]:
# character function kisi bhi character ka unicode sa character bata dta hai kon sa hai jasa example mai show ho rha hai
x = chr(97)
print(x)

a

In [45]:
y = chr(98,99,101) # ak bar mai sirf ak argumant la sakta hai 
print(y)

TypeError: chr() takes exactly one argument (3 given)

In [47]:
y = chr(101)
print(y)

e

In [49]:
s = chr(56)
print(s)

8

In [51]:
x = chr(78)
y = chr(45)
print(x,y)

N -

# COMPLEX NUMBER

In [58]:
# COMPLEX NUMBER BANA KA LIYA PHALA RIYAL NUMBER DANGA FIR IMAGENARY NUMBER DANGA (5,6) CODE MAI DHIK RHA HAI 
x = complex(3,5)
print(x)

(3+5j)

In [60]:
# floating numbar ka liya
x = complex(23.5,67.23)
print(x)

(23.5+67.23j)

In [62]:
# agar hum only real number hi da bss 
z = complex('5')
print(z)

(5+0j)

# FLOAT FUNCTION

In [69]:
x = float(4)
print(x)

4.0

In [71]:
x = float(4.87)
print(x)

4.87

# INT FUNCTION

In [74]:
x = int(12)
print(x)

12

In [76]:
x = int(12.45)
print(x)

12

In [80]:
# complex number ka liya 
# error show kara ga kyoki hum nahi likh sakta hai complex number ko integer ki form mai
x = int(3+5j)
print(x)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

# STRING FUNCTION

In [87]:
a = str(2345)
print(a)
print(type(a))

2345
<class 'str'>

In [89]:
a = str("23.45")
print(a)
print(type(a))

23.45
<class 'str'>

# NOTE - AGAR APP JANA CHATA HO KI KOI FUNCTION KASA KAM KARTA HAI THO PYTHON MAI PHALA SA HI AK BUILT IN FUNCTION HA [ help() ] ISKA USE KARA HAI

# help() function

In [94]:
help(print) # sabhi dital bata di kasa kam karta hai

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [96]:
help(float)

Help on class float in module builtins:

class float(object)
 |  float(x=0, /)
 |
 |  Convert a string or number to a floating-point number, if possible.
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __ceil__(self, /)
 |      Return the ceiling as an Integral.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(self, /)
 |      Return the floor as an Integral.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Formats the float according to format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __round__(self, ndigits=None, /)
 |      Return the Integral closest to x, rounding half toward even.
 |
 |      When an argument is passed, work like built-in round(x, ndigits).
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(self, /)
 |      Return the Integral closest to x between 0 and x.
 |
 |  as_integer_ratio(self, /)
 |      Return a pair of integers, whose ratio is exactly equal to the original float.
 |
 |      The ratio is in lowest terms and has a positive denominator.  Raise
 |      OverflowError on infinities and a ValueError on NaNs.
 |
 |      >>> (10.0).as_integer_ratio()
 |      (10, 1)
 |      >>> (0.0).as_integer_ratio()
 |      (0, 1)
 |      >>> (-.25).as_integer_ratio()
 |      (-1, 4)
 |
 |  conjugate(self, /)
 |      Return self, the complex conjugate of any float.
 |
 |  hex(self, /)
 |      Return a hexadecimal representation of a floating-point number.
 |
 |      >>> (-0.1).hex()
 |      '-0x1.999999999999ap-4'
 |      >>> 3.14159.hex()
 |      '0x1.921f9f01b866ep+1'
 |
 |  is_integer(self, /)
 |      Return True if the float is an integer.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __getformat__(typestr, /)
 |      You probably don't want to use this function.
 |
 |        typestr
 |          Must be 'double' or 'float'.
 |
 |      It exists mainly to be used in Python's test suite.
 |
 |      This function returns whichever of 'unknown', 'IEEE, big-endian' or 'IEEE,
 |      little-endian' best describes the format of floating-point numbers used by the
 |      C type named by typestr.
 |
 |  fromhex(string, /)
 |      Create a floating-point number from a hexadecimal string.
 |
 |      >>> float.fromhex('0x1.ffffp10')
 |      2047.984375
 |      >>> float.fromhex('-0x1p-1074')
 |      -5e-324
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  real
 |      the real part of a complex number

# input function

In [99]:
# agar user sa input lana chata hai tho use karta hai input function ka

In [101]:
x = input("enter your name")
print(x)

enter your name vivek

vivek

In [103]:
x = input("enter your name")
print("hello" , x)

enter your name Vivek Rastogi

hello Vivek Rastogi

In [105]:
# agar huma 2 ak sath likhna ho thomasa likha ga 
x = input("enter your name")
print("hello" , x)
y = input("enter you age")
print("your age is" , y)

enter your name Vivek Rastogi

hello Vivek Rastogi

enter you age 20

your age is 20

# Day 4th in paython class

  #  First - Conditional statement

if condition

# write a program to calculate the perserntage of a student in the subject maths, science, social, english, hindi.

In [25]:
x = input("enter the name of the student")
a = int(input("enter the marks score in english")) #yha pr int is liya hai kyoki agar int nahi lata tho ya string ki thara work karta or hum arithmatic operationnahi kar sakta tha 
b = int(input("enter the marks score in hindi"))
c = int(input("enter the marks score in maths"))
d = int(input("enter the marks score in science"))
e = int(input("enter the marks score in socila"))
n = ((a+b+c+d+e)/500)*100
print("The percentage scored by vivek rastogi is : " , n)

enter the name of the student Vivek Rastogi
enter the marks score in english 98
enter the marks score in hindi 98
enter the marks score in maths 100
enter the marks score in science 99
enter the marks score in socila 98

The percentage scored by vivek rastogi is :  98.6

In [55]:
# if percenrage is above 90 - assign A grade
# if percenrage is above 75 - assign B grade
# if percenrage is above 65 - assign C grade
a = int(input(" Enter the percentage scored by student"))

if a >= 90 :
    print("A grade")
if a < 90 and a >= 75:
    print("B grade")
if a < 75 and a >= 65:
    print("C grade")

 Enter the percentage scored by student 98

A grade

# if else condition

# write a program to display hellow if number enterd by the user is a multipal of 5 else print bye

In [64]:
a = int(input("Enter your number"))
if a%5==0:
    print("hello")
else:
    print("bye")

Enter your number 80

hello

In [70]:
# voting eliglibility
a = int(input("Enter your age"))
if a >= 18:
    print("you are eligibale")
else:
    print("you are not eligibal")

Enter your age 66

you are eligibale

In [72]:
# choose wther the number is posative o not
a = int(input("Enter the number"))
if a > 0 :
    print("number is posative")
else:
    print("number is negative")

Enter the number -78

number is negative

# if - elif - else staement

In [85]:
# accept the city and print its monument
""" DELHI - RED FORT """
""" AGRA - TAJ MAHAL """
""" JAIPUR - JALMAHAL """
""" UTTAR PRADESH - RAM MANDIR """
""" HYDERABAD - CHARMINAR """
""" RECOARD NOT FOUND """

' RECOARD NOT FOUND '

In [99]:

city = input("enter your city")
if city == "Delhi":
    print("the monument in delhi is redfort")
elif city=="Agra":
    print("the monument in agara is tajmahal")
elif city == "Jaipur":
    print("the monument in jaipur is jalmahal")
elif city == "Uttar Pradesh":
    print("the monument in uttar pradesh is Ram Mandir")
elif city == "Hyderabad":
    print("the mponument is hyderabad is charminar")
else:
    print("record not found")

enter your city Uttar Pradesh

the monument in uttar pradesh is Ram Mandir

# day - 5

# concept of loop

# while loop

In [3]:
# program to display number from 1 to 23
i = 1
n = 23
while i<=n:
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23

In [8]:
# take a numer from the user and make a multiplication tabel
x = int(input("take a number from the user"))
a = 1
while a<=10:
    print(x*a)
    a = a+1
print("the tabel of given number")

take a number from the user 3

3
6
9
12
15
18
21
24
27
30
the tabel of given number

# while loop infine tak bhi kam karta hai

In [15]:
# ya hai infinite ka example # hata kar run ho jaye ga
#age = 32
#while age>32:
    #print("you can vote")

In [19]:
count = 0
while count<25:
    count = count+1
    print("hello vivek rastogi")

hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi

# using else statement in the while loop

In [27]:
count = 0
while count<25:
    count = count+1
    print("hello vivek rastogi")
else:
    print("this is the else bolock")

hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
hello vivek rastogi
this is the else bolock

In [29]:
# yha pr hamara nester if condition rh agye thi isma hum kuch nahi karta bss is statement ka andar is statement likhdata hai

# for loop

In [34]:
# isma hum chata hai ki jasa ya hamara oak line mai sara fruits hai inha mai alag alag line mai chata hu tho is thara kara ga jasa code mai hai 
fruits = ["banana" , "mango" , "papaya"]
for x in fruits:
    print(x)

banana
mango
papaya

# looping thorug a string

In [37]:
for x in "vivek rastogi":
    print(x)

v
i
v
e
k

r
a
s
t
o
g
i

# range system in loop

In [42]:
# ya 22 tak hi print kara ga kyoki rangr hamari[ n-1] hoti hai
for x in range (23):  
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22

In [44]:
# agar ham chat hai ki ya kisi particular numbe sa star ho tho asa kara ga
for x in range(6,24):
    print(x)

6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23

# Day 6

# user defined function

# Creating and Calling a User Defined Function

In [16]:
def my_function(): # function ko define karna ka liokhi gye hai line
    print("hello vivek")
    print("whats your class")
my_function() # function ko call karna ka likhi gye hai ya line

hello vivek
whats your class

# calling a function

In [19]:
my_function()

hello vivek
whats your class

# making a result of the student

In [26]:
def contect():
    print("conact detail of school")
    print("Aligarh public school")
    print("siyana(bulandsharah)")
    print("9719334172")
contect() # ya detail hama sab mail likhni hai ab iska bad hum user sa sab subject ka number langa next code mai kar rakha hai

conact detail of school
Aligarh public school
siyana(bulandsharah)
9719334172

In [32]:
for i in range(4):
    a = input("enter the name of student")
    b = int(input("enter the number of maths"))
    c = int(input("enter the number of science"))
    d = int(input("enter the number of english"))
    contect()

enter the name of student Vivek Rastogi
enter the number of maths 99
enter the number of science 98
enter the number of english 97

conact detail of school
Aligarh public school
siyana(bulandsharah)
9719334172

enter the name of student viney
enter the number of maths 98
enter the number of science 00
enter the number of english 89

conact detail of school
Aligarh public school
siyana(bulandsharah)
9719334172

enter the name of student tushar
enter the number of maths 99
enter the number of science 90
enter the number of english 98

conact detail of school
Aligarh public school
siyana(bulandsharah)
9719334172

enter the name of student amit
enter the number of maths 90
enter the number of science 988
enter the number of english 99

conact detail of school
Aligarh public school
siyana(bulandsharah)
9719334172

In [57]:
#  agar mai upar walacode mai percentage nikalna chaue tho ya kara ga
for i in range(2):
    a = input("enter the name of student")
    b = int(input("enter the number of maths"))
    c = int(input("enter the number of science"))
    d = int(input("enter the number of english"))
    n = print(((b+c+d)/300)*100)
    print()
    contect()

enter the name of student Vivek Rastogi
enter the number of maths 99
enter the number of science 90
enter the number of english 98

95.66666666666667

conact detail of school
Aligarh public school
siyana(bulandsharah)
9719334172

enter the name of student Shristha Rastogi
enter the number of maths 89
enter the number of science 89
enter the number of english 90

89.33333333333333

conact detail of school
Aligarh public school
siyana(bulandsharah)
9719334172

# Arguments

# ARGUMENT ya kuch bhi nahi hsi bss jo haman akhali brackit chora tha agar unka andar kuch likh da tho wo hota hai argument

In [77]:
def my_function(fname ):
    print(fname +  "Rastogi")
my_function("vivek" " ")
my_function("shristha" " ")
my_function("manoj kumar" " ")

vivek Rastogi
shristha Rastogi
manoj kumar Rastogi

In [81]:
my_function("shristha" " ")
my_function("manoj kumar" " ")

shristha Rastogi
manoj kumar Rastogi

 # NUMBER OF ARGUMENT

In [86]:
def my_function(fname, lname):
    print(fname+ " " + lname)
my_function("vivek" , "rastogi")

vivek rastogi

In [99]:
my_function("shristha" , "rastogi")
my_function("manoj kumar" , "rastogi")

shristha rastogi
manoj kumar rastogi

# CHECK WHETER THE NUMBER FALLS WITHIN A GIVIN RANGE

In [110]:
def test_range(n):
    if n in range(3,9):
        print("number in range" , n)
    else:
        print("number is not in range.")
test_range(10)

number is not in range.

# Doc string

In [117]:
def learn():
    """ this function does noting except printing"""
    print("Vivek Rastogi")
    print("viney sharma")
learn()

Vivek Rastogi
viney sharma

In [123]:
# A simple python function check weather X is even or odd
def evenodd(x):
    if(x%2 == 0):
        print("even")
    else:
        print("odd")
evenodd(7)

odd

# DEFAULT ARGUMENT

# A default argument is aparameter that assign a default value if a value is nat provided in the function call for the argument > the following example illustrates default arguments

In [129]:
#pyhton program to demonstrate
# default arguments
def myfun(x , y = 50):
    print("x: ", x)
    print("y: ", y)
myfun(20)

x:  20
y:  50

In [147]:
# write a program to calculate electricity bill

if 500 unit = pay Rs 5 for each unit
if 700 unit = pay Rs 10 for each unit
if 1000 unit = pay Rs 15 for each unit
if more than 1000 unit = pay Rs 20 for each unit

In [ ]:
def electricity_bill(n):
    if n<= 500:
        print("your bill is RS:" , n*5)
    elif n>500 and n<= 700:

        print("your bill is Rs:" , n*10)
    elif n>700 and nv
    <= 1000:
        print("your bill is Rs:" , n*15)
    elif n>100:
        print("your electric bill is Rs:" , n*20)

In [50]:
def instruction():
    print("last day of paying the bill is 20 feb 2025")
    print("after 20 feb 2025 you need to pay 1000")
    print("electric office siyana")

In [52]:
for i in range(3):
    a = input("enter the name of costumer")
    n = int(input("enter the unit of electicity you used"))
    electricity_bill(n)
    print()
    instruction()

enter the name of costumer Vivek Rastogi
enter the unit of electicity you used 650

your bill is Rs: 6500

last day of paying the bill is 20 feb 2025
after 20 feb 2025 you need to pay 1000
electric office siyana

enter the name of costumer Shristha
enter the unit of electicity you used 800

your bill is Rs: 12000

last day of paying the bill is 20 feb 2025
after 20 feb 2025 you need to pay 1000
electric office siyana

enter the name of costumer Manoj Kumar Rastogi
enter the unit of electicity you used 600

your bill is Rs: 6000

last day of paying the bill is 20 feb 2025
after 20 feb 2025 you need to pay 1000
electric office siyana