# Day 11

# set in python

# Creating a set

In [7]:
a = {"animal", "ball", "playing"}
print(a)

{'playing', 'ball', 'animal'}

In [9]:
print(type(a))

<class 'set'>

# Set item are unordered

In [14]:
a = {"apple", "banana", "papaya", "guavava"}
print(a[0]) # ya error bata rha hai ki ser unordered hota hai

TypeError: 'set' object is not subscriptable

# duplicates not allow

In [17]:
a = {"apple", "papaya", "guavava", "apple", "mango", "papaya"}
print(a)
print(len(a))

{'guavava', 'apple', 'papaya', 'mango'}
4

# False , True and 1 , 0 is consider the same value

In [25]:
a = {"apple", "mango", True, "guavava", "apple", 1, 32, False, 0}
print(a)
print(len(a))
print(type(a))

{'guavava', True, 32, False, 'apple', 'mango'}
6
<class 'set'>

# Get the length of set

In [30]:
a = {"apple", "mango", True, "guavava", "apple", 32, False}
print(len(a))
print(a)

6
{'guavava', True, 32, False, 'apple', 'mango'}

# set item - Data type

In [35]:
x1 = {1,2,3,4,5}
x2 = {1.2,3.4,5.4,5.7,8.7}
x3 = {"vivek","a",'rastogi',"vaibhav"}
x4 = {True,False,True}
print(x1,x2,x3,x4)

{1, 2, 3, 4, 5} {1.2, 3.4, 5.4, 5.7, 8.7} {'a', 'vivek', 'rastogi', 'vaibhav'} {False, True}

In [37]:
x5 ={[1,2,3,4,6,5.5]} # set ka andar list bana kar nahi dal sakta is liya error show ho rha hai
print(x5)

TypeError: unhashable type: 'list'

# List are mutable and hence unhashable object in python . whereas, set in python are immutable and does not allow unhashable object . therefpore, python does not allow a set to store a list. you cannot add a list to a set

In [40]:
# but tuple print ho jaye ga kyoki wo immutable hota haim
a = {(1,2,4,"apple")}
print(a)

{(1, 2, 4, 'apple')}

# immutable object are a type of object that cannot be modified after they were created. hashable object

In [43]:
x6 = {{"a":1,"b":3}}
print(x6) # dictionary bhi print nahi ho sakti hai

TypeError: unhashable type: 'dict'

# "nested" isn't a property of a set

In [49]:
# set ka andar set bhi nahi dal sakta
a = {{1,3,"vivek"},{76,87,98,90}}
print(a)

TypeError: unhashable type: 'set'

In [51]:
a = {{1,3,"vivek"}>{76,87,98,90}} # extra code
print(a)

{False}

In [53]:
a = {{1,3,"vivek"}<{76,87,98,90}} # extera code
print(a)

{False}

# The set constructor()

In [58]:
a = set(("apple","mango","guavava",12,56,True))
print(a)
print(type(a))

{'guavava', True, 'mango', 12, 'apple', 56}
<class 'set'>

# Creatinf empty set

In [61]:
a = {}
print(a)
print(type(a))
print(len(a))

{}
<class 'dict'>
0

In [63]:
empty = set()
print(empty)
print(type(empty))

set()
<class 'set'>

# Access item

you cannot access item in a set by referring to an index or a key.

bou you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the keyword

In [67]:
a = {"vivek","rastogi",69,"siyana","data science"}
for x in a:
    print(x)

siyana
69
rastogi
data science
vivek

# Check if "item" is present in the set

In [72]:
a = {"vivek","rastogi",69,"siyana","data science"}
print("vivek" in a)

True

In [74]:
a = {"vivek","rastogi",69,"siyana","data science"}
print("vaibhav" in a)

False

# Add item

Once the set is created youcan not change in it bat add ana item in it

In [80]:
a = {"vivek","rastogi",69,"siyana","data science"}
a.add("vaibhav")
print(a)

{'siyana', 69, 'rastogi', 'data science', 'vaibhav', 'vivek'}

In [82]:
a = {"vivek","rastogi",69,"siyana","data science"}
b = {"vaibhav","manoj","swati",False}
a.update(b)
print(a)
print(len(a))

{False, 'siyana', 69, 'data science', 'vaibhav', 'vivek', 'manoj', 'rastogi', 'swati'}
9

# python remove set item

In [87]:
a = {"vivek","rastogi",69,"siyana","data science"}
a.remove("rastogi")
print(a)

{'siyana', 69, 'data science', 'vivek'}

# you can also use the pop() method to remove the item but it can remove the random item

In [98]:
a = {"vivek","rastogi",69,"siyana","data science"}
a.pop()
print(a)

{69, 'rastogi', 'data science', 'vivek'}

# the clear() method empty the ser

In [101]:
a = {"vivek","rastogi",69,"siyana","data science"}
a.clear()
print(a)

set()

# the del() keyword will delete the set completely

In [106]:
a = {"vivek","rastogi",69,"siyana","data science"}
del a
print(a) # ya error show kara ga kyoki sab delete ho gya hai

NameError: name 'a' is not defined

# join two sets

the union() method return a new set from both item from both set

In [110]:
a = {"vivek","rastogi",69,"siyana","data science"}
b = {"vaibhav","sahram","manoj"}
z = a.union(b)
print(z)

{'siyana', 69, 'rastogi', 'data science', 'sahram', 'vaibhav', 'vivek', 'manoj'}

# write a python program to find the maximum and minimum values in a set

In [121]:
setn = {23,21,42,12,213,78,876, 76,56,23,12,11}
print("original set elements:")
print(setn)
print(type(setn))
print("maximum vale of setn")
print(max(setn))
print("minimum value of setn")
print(min(setn))

original set elements:
{42, 11, 876, 12, 78, 76, 213, 21, 23, 56}
<class 'set'>
maximum vale of setn
876
minimum value of setn
11

# return a new set of identical item from two set

In [124]:
set1 = {10,20,30,40,50}
set2 = {30,40,50,60,70}
print(set1.intersection(set2))

{40, 50, 30}