# Day 9

# Concept of tuple

creating a tuple

In [7]:
my_tuple = (1, 3, 5, 6)
print(my_tuple)
print(type(my_tuple))

(1, 3, 5, 6)
<class 'tuple'>

# tuple with mixed data type

In [10]:
my_tuple = ("vivek" , 23 , 45.6, 87.9, True , 4+3j)
print(my_tuple)

('vivek', 23, 45.6, 87.9, True, (4+3j))

# Empty tuple

In [13]:
my_tuple = ()
print(my_tuple)
print(type(my_tuple))

()
<class 'tuple'>

# Nested tuple

In [28]:
my_tuple = ("vivek", 23 , 56.78 , ["vivek" , 675, 87.9] , (23, 65, "rastogi"))
print(my_tuple)
print(type(my_tuple))

('vivek', 23, 56.78, ['vivek', 675, 87.9], (23, 65, 'rastogi'))
<class 'tuple'>

# creating a python tuple with one element

In [35]:
var1 = ("vivek")
print(var1)
print(type(var1)) # ab dhakha iska type mai string a rahi hai agar huma tuple cahiya tho ["vivek" ,] bad quama laga do jasa nicha wala code mai lagaya hai tuple type ban jaye ga

vivek
<class 'str'>

In [37]:
var1 = ("vivek",)
print(var1)
print(type(var1))

('vivek',)
<class 'tuple'>

# The tuple constructor()

In [42]:
my_tuple = tuple((112, 34, 45, "vivek" , True, 'a' , 'b'))
print(my_tuple)
print(type(my_tuple))

(112, 34, 45, 'vivek', True, 'a', 'b')
<class 'tuple'>

# indexing

In [47]:
my_tuple =(112, 34, 45, "vivek" , True, 'a' , 'b')
print(my_tuple[5])

a

In [51]:
my_tuple = (112, 34, 45, "vivek" , True, 'a' , 'b')
print(my_tuple[-5])

45

# slicing

In [55]:
my_tuple = (2, 34, 56, 67, 87, 54, 345, 543, 123, 231, 342, 543, 567, 546,980)
print(len(my_tuple))
print(my_tuple[2:6])

15
(56, 67, 87, 54)

In [57]:
my_tuple = (2, 34, 56, 67, 87, 54, 345, 543, 123, 231, 342, 543, 567, 546,980)
print(len(my_tuple))
print(my_tuple[2:])

15
(56, 67, 87, 54, 345, 543, 123, 231, 342, 543, 567, 546, 980)

In [59]:
my_tuple = (2, 34, 56, 67, 87, 54, 345, 543, 123, 231, 342, 543, 567, 546,980)
print(len(my_tuple))
print(my_tuple[:6])

15
(2, 34, 56, 67, 87, 54)

In [61]:
my_tuple = (2, 34, 56, 67, 87, 54, 345, 543, 123, 231, 342, 543, 567, 546,980)
print(len(my_tuple))
print(my_tuple[:])

15
(2, 34, 56, 67, 87, 54, 345, 543, 123, 231, 342, 543, 567, 546, 980)

In [63]:
my_tuple = (2, 34, 56, 67, 87, 54, 345, 543, 123, 231, 342, 543, 567, 546,980)
print(len(my_tuple))
print(my_tuple[::2])

15
(2, 56, 87, 345, 123, 342, 567, 980)

In [65]:
my_tuple = (2, 34, 56, 67, 87, 54, 345, 543, 123, 231, 342, 543, 567, 546,980)
print(len(my_tuple))
print(my_tuple[2:-6])

15
(56, 67, 87, 54, 345, 543, 123)

In [67]:
my_tuple = (2, 34, 56, 67, 87, 54, 345, 543, 123, 231, 342, 543, 567, 546,980)
print(len(my_tuple))
print(my_tuple[2:614:2])

15
(56, 87, 345, 123, 342, 567, 980)

# reverse the tuple

In [72]:
my_tuple = (2, 34, 56, 67, 87, 54, 345, 543, 123, 231, 342, 543, 567, 546,980)
print(len(my_tuple))
print(my_tuple[::-1])

15
(980, 546, 567, 543, 342, 231, 123, 543, 345, 54, 87, 67, 56, 34, 2)

# write the output of the folling code

In [75]:
t = (1, 2, 3, 4, 5, 6, 7, 8)
print(t[::])
print(t[3:])
print(t[:4])
print(t[-2:-5])

(1, 2, 3, 4, 5, 6, 7, 8)
(4, 5, 6, 7, 8)
(1, 2, 3, 4)
()

# Duplicate are allow in tuple

In [124]:
my_tuple = (2, 34, 56, 67, 56, 2,  87, 54, 345, 543, 123, 54, 231, 342, 543, 567, 546,980)
print(my_tuple)
print(type(my_tuple))

(2, 34, 56, 67, 56, 2, 87, 54, 345, 543, 123, 54, 231, 342, 543, 567, 546, 980)
<class 'tuple'>

# once the tuple is created, you cannot changes its value. tuple are unchangabale, or immutable as it also is called


convert the tuple into list to be able to change it:

In [7]:
x = ("apple", "banana", "cherry")
y = list(x)
y.remove("apple")
x = tuple(y)
print(x)

('banana', 'cherry')

# add item

In [12]:
my_tuple = (23, 54, 76, 89, 987)
y = list(my_tuple)
y.append(365)
my_tuple = tuple(y)
print(my_tuple)

(23, 54, 76, 89, 987, 365)

In [14]:
# add tuple to tuple 
tuple = ("vivek", "vaibhav", "rastogi")
y = ("kumar", "shristha")
my_tuple = tuple + y
print(my_tuple)

('vivek', 'vaibhav', 'rastogi', 'kumar', 'shristha')

# The del kryword can completey delete the tuple

In [35]:
my_tuple = (12, 43, 657, 455, 67.6 ,"vivek")
del my_tuple
print(my_list) # yha my_tuple is not define is liya dikha rha hai kyoki del pura tupel ko hi delete kar data hai ak sath

NameError: name 'my_list' is not defined

# Loop system

In [7]:
my_tuple = ("a" , "b" , "c" , "abc" , 32 , True)
for x in my_tuple:
    print(x)

a
b
c
abc
32
True

# upar wala codeko hum asa bhi kar sakta hai jasa necha wala code mai hai

In [14]:
my_tuple = ("vivek" , "rastogi" , "sharma" , "gupta")
i = 0
while i < len(my_tuple):
    print(my_tuple[i])
    i = i+1

vivek
rastogi
sharma
gupta

In [16]:
my_tuple = ("vivek" , "rastogi" , "sharma" , "gupta")
i = 0
while i < len(my_tuple):
    print(my_tuple[1])  # yha 1 karna pr sirf rastogi hi print hua hai 
    i = i+1

rastogi
rastogi
rastogi
rastogi

In [18]:
my_tuple = ("vivek" , "rastogi" , "sharma" , "gupta")
i = 0
while i < len(my_tuple):
    print(my_tuple)  # agar na 1 likha na i likha tho pura asa hi print ho jaye ga
    i = i+1

('vivek', 'rastogi', 'sharma', 'gupta')
('vivek', 'rastogi', 'sharma', 'gupta')
('vivek', 'rastogi', 'sharma', 'gupta')
('vivek', 'rastogi', 'sharma', 'gupta')

# join two tuple

In [23]:
my_tuple = ("vivek", "rastogi", "manoj")
my_tuple2 = ("kumar", "rastogi")
new_tuple = my_tuple + my_tuple2
print(new_tuple)

('vivek', 'rastogi', 'manoj', 'kumar', 'rastogi')

# Multiply tuple

In [31]:
fruits = ("apple", "banana", "guavava", "papaya")
fruits2 = fruits * 3
print(fruits2)

('apple', 'banana', 'guavava', 'papaya', 'apple', 'banana', 'guavava', 'papaya', 'apple', 'banana', 'guavava', 'papaya')

# write a python program to find repeated item in the tuple

In [42]:
# create a tuple
tuplex = 2, 4, 5, 6, 22, 3, 4, 4, 7, 2
print(tuplex)
# return the number of times it appear in the tuple
count = tuplex.count(4) # ya line likhta hai jab bhi hama count karna ho ki kitna number hai tuple mai
print(count)

(2, 4, 5, 6, 22, 3, 4, 4, 7, 2)
3

# write the output of the folloeing code

In [45]:
T = (1, 2, 3, 4, 5, 6, 7, 8)
print(T*2)
print(T+T)
print(len(T))

(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
8

# Write a program to accept 5 number from the user and store in tuple

In [48]:
t = ()
i = 0
while i <=5:
    num = int(input("enter your number"))
    t = t +(num,)
    i = i+1
    print(t)

enter your number 23

(23,)

enter your number 43

(23, 43)

enter your number 56

(23, 43, 56)

enter your number 78

(23, 43, 56, 78)

enter your number 98

(23, 43, 56, 78, 98)

enter your number 87

(23, 43, 56, 78, 98, 87)